body{
	background: #D260EF;
	
}
.sub1{
	background: #F97AE4;
	margin: 5%;
	text-align: center;
	height: 40%;
	width: 70%;
	border-radius: 5%;
	box-shadow: 3px 3px 3px 3px;
}
.maindiv{
	background: #929EEF;
	display: flex;
	justify-content: space-around;
	margin: 10%;
	width: 70%;
	border-radius: 5%;
	box-shadow: 3px 3px 3px 3px;
}
.subdiv{
	background: pink;
	padding: 2%;
	width: 90%;
	justify-content: space-around;
	margin: 5%;
	border-radius: 5%;
	text-align: left;
	box-shadow: 4px 4px 4px 4px;
}
img{
	justify-content: center;
	height: 10%;
	width: 50%;
	margin: 3%;
	border-radius: 4%;
}
table{
	margin-left: 15%;
	
	overflow-x: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	body{
	background: #D260EF;
	
}
.sub1{
	background: #A1FA7A;
	margin: 10%;
	text-align: center;
	height: 40%;
	width: 70%;
	border-radius: 5%;
	box-shadow: 3px 3px 3px 3px;
}
.maindiv{
	background: #929EEF;
	display: inline-block;
	justify-content: space-around;
	margin: 10%;
	width: 98%;
	border-radius: 5%;
	box-shadow: 3px 3px 3px 3px;
}
.subdiv{
	background: #9AA1DC;
	padding: 2%;
	width: 85%;
	justify-content: space-around;
	margin: 5%;
	border-radius: 5%;
	text-align: left;
	box-shadow: 4px 4px 4px 4px;
}
img{
	justify-content: center;
	height: 10%;
	width: 50%;
	margin: 3%;
	border-radius: 4%;
}
table{
	margin-left: 1%;
	overflow-x: auto;
}


}
@media screen and (min-width: 480px) and (max-width: 720px) {
	body{
	background: #D260EF;
	
}
.sub1{
	background: violet;
	margin: 5%;
	text-align: center;
	width: 30%;
	border-radius: 3%;
	box-shadow: 3px 3px 3px 3px;
}
.maindiv{
	background: indigo;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5%;
	width: 95%;
	border-radius: 5%;
	box-shadow: 3px 3px 3px 3px;

}
.subdiv{
	background: #9AA1DC;
	padding: 2%;
	width: 45%;
	justify-content: space-around;
	margin: 5%;
	border-radius: 5%;
	text-align: left;
	box-shadow: 4px 4px 4px 4px;
}
img{
	justify-content: center;
	height: 10%;
	width: 50%;
	margin: 3%;
	border-radius: 4%;
}
table{
	margin-left: 1%;
	overflow-x: auto;
}


}